<!DOCTYPE html>
<html>
  <head>
    {% extends 'base.html' %} {% load static %} {% block content %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'crudapp/css/detail.css' %}"
    />
    <style></style>
  </head>
  <body>
    <div class="post">
      <section>
        <aside>
          {% if post.image.url != "" %}
          <img src="{{post.image.url}}" />
          {% endif %}
        </aside>
        <main>
          {% if user.is_authenticated %}
          <span>
            <a class="edit" href="{% url 'postupdate' post.id %}">수정</a>
          </span>
          &nbsp;
          <span>
            <a
              class="edit"
              href="{% url 'postdelete' post.id %}"
              onclick="return confirm('정말 삭제하시겠습니까?')"
              >삭제</a
            >
          </span>
          {% endif %}
          <p class="writer">{{post.writer}}</p>
          <p class="date">{{post.created_at}}</p>
          <p>{{post.body}}</p>
        </main>
      </section>
    </div>
    {% endblock %}
  </body>
</html>
