<!DOCTYPE html>
<html>
  <head>
    <style>
      .write {
        display: flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}

    <!-- <div class="container">
      <form action="create">
        <h3>제목 :</h3>
        <input type="text" name="title" />
        <br /><br />
        <h3>본문 :</h3>
        <textarea cols="40" rows="20" name="body"></textarea>
        <br /><br />
        <input type="submit" value="등록" />
      </form>
    </div> -->
    <div class="write">
      {% if user.is_authenticated %}
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <br />
        <input type="submit" value="등록" />
      </form>
      {% else %}
      <p>로그인 후 <strong>글 작성, 수정, 삭제</strong>가 가능합니다.</p>
    </div>
    {% endif %} {% endblock %}
  </body>
</html>
